/* By Jewel Richardson | github.com/JewelRichardson */
:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #575454;
  --darwin-glow: #f89359ee; /*#fd7146f5;*/
  --darwin-orange: #f75910; /*#ff6924;*/ /*#ff4500;*/
  --darwin-green-light: #c0f5c0;
  --darwin-green-dark: #1ab41a;
  --gumball-blue: #00bfff;
  --gumball-blue-light: #6fdbff;
  --gumball-pink: #dd0478;
  --gumball-orange: #ff4500;
  --gumball-light-pink: #eba1ad;
  --gumball-brown: #a52a2a;
  --gumball-brown-light: #aaf1aa;
  --border-semibold: 2px solid var(--color-black);
  --border-bold: 3px solid var(--color-black);
  --border-bolder: 4px solid var(--color-black);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*::before,
*::after {
  content: '';
  position: absolute;
}

body {
  display: flex;
  padding-top: 6rem;
  justify-content: center;
  min-height: 100vh;
  gap: 8rem;
}

#link-section {
  font-family: sans-serif;
  font-size: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
  padding: 15px 23px;
  text-align: center;
}
#link-section .author {
  color: rgb(0 0 0 / 60%);
}
#link-section .title {
  font-weight: bold;
}

.container {
  position: relative;
}

.darwin__head {
  position: relative;
  z-index: 10;
}
.darwin__head--top {
  width: 294px;
  height: 187px;
  border: 3px solid black;
  border-top-left-radius: 50% 80%;
  border-top-right-radius: 50% 64%;
  border-bottom-right-radius: 86% 18%;
  border-bottom-left-radius: 30%;
  transform: rotate(-14deg);
  background-color: var(--darwin-orange);
}
.darwin__head--bottom {
  position: absolute;
  top: 83px;
  left: 15px;
  width: 322px;
  height: 147px;
  border: 3px solid black;
  border-top-left-radius: 34% 80%;
  border-top-right-radius: 44% 60%;
  border-bottom-right-radius: 37% 79%;
  border-bottom-left-radius: 48% 58%;
  transform: rotate(-3deg);
}
.darwin__head--bottom::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 12;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
  background-color: var(--darwin-orange);
}
.darwin__head--bottom::after {
  top: -14px;
  left: -4px;
  z-index: 12;
  width: 94%;
  height: 91%;
  border-top-left-radius: 39% 80%;
  border-top-right-radius: 34% 60%;
  border-bottom-right-radius: 37% 79%;
  border-bottom-left-radius: 41% 58%;
  background-color: var(--darwin-orange);
}

.darwin__eyebrow--1 {
  position: absolute;
  top: 10px;
  left: 102px;
  width: 52px;
  height: 37px;
  border: 10px solid var(--color-black);
  z-index: 12;
  border-radius: 50%;
  border-color: transparent;
  border-top-color: var(--color-black);
  transform: rotate(-12deg);
}
.darwin__eyebrow--2 {
  position: absolute;
  top: 7px;
  right: 47px;
  width: 50px;
  height: 37px;
  border: 10px solid var(--color-black);
  z-index: 12;
  border-radius: 50%;
  border-color: transparent;
  border-top-color: var(--color-black);
  transform: rotate(8deg);
}
.darwin__eyebrow--1::before,
.darwin__eyebrow--1::after,
.darwin__eyebrow--2::before,
.darwin__eyebrow--2::after {
  width: 11px;
  height: 10px;
  background-color: var(--color-black);
  border-radius: 50%;
}
.darwin__eyebrow--1::before {
  top: -6px;
  left: -4px;
  transform: rotate(-21deg);
}
.darwin__eyebrow--1::after {
  top: -7px;
  right: -3px;
  transform: rotate(11deg);
}
.darwin__eyebrow--2::before {
  top: -6px;
  left: -4px;
  transform: rotate(-21deg);
}
.darwin__eyebrow--2::after {
  top: -6px;
  right: -4px;
  transform: rotate(11deg);
}

.darwin__eyes [class^='darwin__eye--'] {
  position: absolute;
  width: 87px;
  height: 87px;
  border: var(--border-bold);
  border-radius: 50%;
  background-color: var(--color-white);
  z-index: 12;
}
.darwin__eye--1 {
  top: 41px;
  left: 91px;
}
.darwin__eye--1::before,
.darwin__eye--2::before {
  width: 27px;
  height: 27px;
  background-color: var(--color-black);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.darwin__eye--2 {
  top: 32px;
  right: 15px;
}

.darwin__eye--1 .darwin__eye-lash--1 {
  position: absolute;
  top: 0px;
  left: 6px;
  width: 3px;
  height: 12px;
  background-color: var(--color-black);
  transform: rotate(-46deg);
}
.darwin__eye--1 .darwin__eye-lash--2 {
  position: absolute;
  top: 9px;
  left: -1px;
  width: 3px;
  height: 9px;
  background-color: var(--color-black);
  transform: rotate(-62deg);
}
.darwin__eye--2 .darwin__eye-lash--1 {
  position: absolute;
  top: -2px;
  right: 12px;
  width: 3px;
  height: 9px;
  background-color: black;
  transform: rotate(43deg);
}
.darwin__eye--2 .darwin__eye-lash--2 {
  position: absolute;
  top: 6px;
  right: 4px;
  width: 3px;
  height: 6px;
  background-color: black;
  transform: rotate(49deg);
}

.darwin__mouth {
  position: absolute;
  top: 62px;
  left: 108px;
  border-bottom-left-radius: 50% 56%;
  border-bottom-right-radius: 50% 69%;
  border-bottom: 3px solid black;
  width: 166px;
  height: 124px;
  transform: rotate(0deg);
}
.darwin__mouth::before,
.darwin__mouth::after {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-bottom: none;
  border-right: none;
  border-radius: 50%;
}
.darwin__mouth::before {
  top: 78px;
  left: -16px;
  background-color: var(--darwin-orange);
  transform: rotate(135deg);
}
.darwin__mouth::after {
  top: 70px;
  right: -17px;
  background-color: var(--darwin-orange);
  transform: rotate(-51deg);
}

.darwin__glow--1 {
  position: absolute;
  top: 124px;
  left: 65px;
  width: 50px;
  height: 80px;
  background-color: var(--darwin-orange);
  z-index: 14;
}
.darwin__glow--2 {
  position: absolute;
  top: 105px;
  right: -16px;
  width: 42px;
  height: 80px;
  background-color: var(--darwin-orange);
  z-index: 14;
}
.darwin__glow--1::before,
.darwin__glow--2::before {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--darwin-glow);
}
.darwin__glow--1::before {
  top: 26px;
  right: -9px;
}
.darwin__glow--2::before {
  top: 36px;
  left: -15px;
}
.darwin__glow--3 {
  position: absolute;
  top: 68px;
  left: 50px;
  width: 52px;
  height: 37px;
  border: 10px solid transparent;
  border-top-color: var(--darwin-glow);
  z-index: 12;
  border-radius: 50%;
  transform: rotate(-53deg) scale(2, 2.3);
}
.darwin__glow--3::before {
  top: -6px;
  left: -4px;
  width: 11px;
  height: 10px;
  background-color: var(--darwin-glow);
  border-radius: 50%;
  transform: rotate(-21deg);
}
.darwin__glow--3::after {
  top: -7px;
  right: -3px;
  width: 11px;
  height: 10px;
  background-color: var(--darwin-glow);
  border-radius: 50%;
  transform: rotate(11deg);
}

.darwin__tail-fin {
  position: absolute;
  top: 146px;
  left: -15px;
  width: 72px;
  height: 87px;
  background-color: var(--darwin-orange);
  border-radius: 45% 56% 56% 46% / 55% 55% 55% 46%;
  border: var(--border-bold);
  transform: rotate(-29deg);
  z-index: 8;
}
.darwin__tail-fin::before,
.darwin__tail-fin::after {
  border-top: var(--border-bold);
  border-radius: 40%;
}
.darwin__tail-fin::before {
  width: 30px;
  height: 20px;
  top: 23px;
  left: -2px;
  transform: rotate(-6deg);
}
.darwin__tail-fin::after {
  width: 30px;
  height: 20px;
  top: 44px;
  left: -2px;
  transform: rotate(-6deg);
}
.darwin__tail-joint {
  position: absolute;
  top: 171px;
  left: 3px;
  width: 48px;
  height: 34px;
  background-color: var(--darwin-orange);
  z-index: 18;
  transform: rotate(55deg);
}

.darwin__arm-1,
.darwin__arm-2 {
  position: absolute;
}
.darwin__arm-1 {
  top: 213px;
  left: 36px;
  width: 57px;
  height: 49px;
  background-color: var(--darwin-orange);
  border: var(--border-bold);
  border-top-color: var(--darwin-orange);
  border-radius: 20px 0px 50px 50px / 20px 0px 50px 50px;
  transform: rotate(51deg);
  z-index: 12;
}
.darwin__arm-1::before {
  top: -37px;
  left: 27px;
  width: 49px;
  height: 54px;
  background-color: var(--darwin-orange);
  border: var(--border-bold);
  border-top-color: var(--darwin-orange);
  border-radius: 36px 10px 50px 38px / 20px 20px 50px 50px;
  transform: rotate(186deg);
  z-index: 12;
}
.darwin__arm-1::after {
  top: -1px;
  left: 51px;
  width: 22px;
  height: 31px;
  border-radius: 56px 66px 14px 38px / 80px 68px 25px 3px;
  border: var(--border-bold);
  background-color: var(--darwin-orange);
  border-bottom: none;
  transform: rotate(186deg);
  z-index: 12;
}

.darwin__arm-2 {
  top: 208px;
  right: 5px;
  width: 36px;
  height: 50px;
  border-radius: 50%;
  border: var(--border-bold);
  background-color: var(--darwin-orange);
  border-bottom: none;
  transform: rotate(146deg) skew(20deg, 20deg);
  z-index: 8;
}

.darwin__arm-2::before {
  top: 15px;
  right: 14px;
  width: 74px;
  height: 39px;
  background-color: var(--darwin-orange);
  border: var(--border-bold);
  border-top-color: var(--darwin-orange);
  border-radius: 17px 1px 65px 50px / 20px 20px 46px 53px;
  transform: rotate(141deg);
  z-index: 12;
}

.darwin__leg-1,
.darwin__leg-2 {
  position: absolute;
  top: 226px;
  width: 40px;
  height: 137px;
  border: var(--border-bold);
  border-bottom: none;
  transform: skewX(-2deg);
  background-color: var(--darwin-orange);
  z-index: 8;
}
.darwin__leg-1 {
  left: 136px;
}
.darwin__leg-2 {
  right: 81px;
}
.darwin__leg-1::before,
.darwin__leg-2::before {
  bottom: -2px;
  left: -3px;
  width: 40px;
  height: 30px;
  background-color: var(--darwin-green-light);
  border: var(--border-bold);
  transform: skewY(2deg);
}
.darwin__leg-1::after,
.darwin__leg-2::after {
  bottom: -43px;
  left: -3px;
  width: 40px;
  height: 45px;
  background-color: var(--darwin-green-dark);
  border: var(--border-bold);
  border-bottom: none;
}

.darwin__shoe-1,
.darwin__shoe-2 {
  position: absolute;
  overflow: hidden;
  top: 391px;
  width: 110px;
  height: 64px;
  border: var(--border-bold);
  background-color: var(--darwin-green-light);
}
.darwin__shoe-1 {
  left: 62px;
  border-top-left-radius: 50% 75%;
  border-top-right-radius: 77% 36%;
  border-bottom-left-radius: 37% 60%;
  border-bottom-right-radius: 30% 50%;
}
.darwin__shoe-2 {
  right: 15px;
  border-top-right-radius: 50% 75%;
  border-top-left-radius: 77% 36%;
  border-bottom-right-radius: 37% 60%;
  border-bottom-left-radius: 30% 50%;
}
.darwin__shoe-1::before {
  top: -10px;
  right: -11px;
  border: var(--border-bold);
  width: 64px;
  height: 81px;
  background-color: var(--darwin-green-dark);
  transform: skewX(26deg);
}
.darwin__shoe-2::before {
  top: -10px;
  left: -11px;
  border: var(--border-bold);
  width: 64px;
  height: 81px;
  background-color: var(--darwin-green-dark);
  transform: skewX(-26deg);
}
.darwin__shoe-hole--1,
.darwin__shoe-hole--2 {
  position: absolute;
  top: 381px;
  width: 20px;
  height: 33px;
  background-color: var(--color-white);
  border: var(--border-bold);
  border-radius: 50%;
  z-index: 16;
}
.darwin__shoe-hole--1 {
  left: 146px;
}
.darwin__shoe-hole--2 {
  right: 97px;
}
.darwin__shoe-hole--1::after,
.darwin__shoe-hole--2::after {
  top: 11px;
  width: 20px;
  height: 20px;
  background-color: var(--darwin-green-dark);
  z-index: 12;
}
.darwin__shoe-hole--1::after {
  left: -25px;
}
.darwin__shoe-hole--2::after {
  right: -25px;
}

/* GUMBALL */
.gumball__head {
  position: relative;
  width: 269px;
  height: 200px;
  border: var(--border-bold);
  background: var(--gumball-blue);
  border-radius: 130px 130px 80px 50px / 115px 100px 116px 50px;
}

.gumball__ear-1,
.gumball__ear-2 {
  position: absolute;
  background-color: var(--gumball-blue);
  border: var(--border-bold);
  border-radius: 50%;
  z-index: -1;
}
.gumball__ear-1 {
  top: -27px;
  left: 80px;
  width: 66px;
  height: 101px;
  transform: rotate(2deg);
}
.gumball__ear-2 {
  top: -16px;
  left: 168px;
  width: 94px;
  height: 180px;
  transform: rotate(46deg);
}

.gumball__face--1,
.gumball__face--2,
.gumball__face--3,
.gumball__face--4,
.gumball__face--5,
.gumball__face--6 {
  background-color: var(--gumball-blue);
  z-index: 10;
}
.gumball__face--1 {
  position: absolute;
  top: 103px;
  left: -48px;
  width: 262px;
  height: 112px;
  border: var(--border-bold);
  border-radius: 70px 50px 50px 56px / 70px 50px 50px 65px;
}
.gumball__face--2 {
  position: absolute;
  top: 90px;
  right: 31px;
  width: 250px;
  height: 111px;
  border-radius: 57px 50px 100px 100px / 50px 50px 50px 50px;
}
.gumball__face--3 {
  position: absolute;
  top: 73px;
  right: -20px;
  width: 128px;
  height: 90px;
  border-radius: 57px 50px 71px 70px / 50px 50px 50px 54px;
  border-bottom: var(--border-bold);
  transform: rotate(-68deg);
}
.gumball__face--4 {
  position: absolute;
  top: 116px;
  left: -43px;
  width: 257px;
  height: 119px;
  border-bottom: var(--border-bold);
  border-radius: 50%;
}
.gumball__face--5 {
  position: absolute;
  top: 12px;
  left: 69px;
  width: 200px;
  height: 200px;
  border-right: var(--border-bold);
  border-radius: 50% 59% 60% 70% / 50% 80% 73% 54%;
  transform: rotate(13deg);
}
.gumball__face--6 {
  position: absolute;
  top: 117px;
  left: 63px;
  width: 190px;
  height: 112px;
  border-bottom: var(--border-bold);
  border-radius: 70%;
  transform: rotate(-15deg);
}
.gumball__face--6::before {
  top: -20px;
  left: -42px;
  border-radius: inherit;
  width: 117%;
  height: 115%;
  background: var(--gumball-blue);
  transform: rotate(3deg);
}
.gumball__face--6::after {
  top: -33px;
  right: -39px;
  border-radius: inherit;
  width: 92%;
  height: 115%;
  background: var(--gumball-blue);
  transform: rotate(-45deg);
}

.gumball__eyebrow-1 {
  position: absolute;
  top: 19px;
  left: 51px;
  width: 52px;
  height: 37px;
  border: 10px solid var(--color-black);
  z-index: 12;
  border-radius: 50%;
  border-color: transparent;
  border-top-color: var(--color-black);
  transform: rotate(-20deg);
}
.gumball__eyebrow-2 {
  position: absolute;
  top: 23px;
  right: 36px;
  width: 57px;
  height: 37px;
  border: 10px solid var(--color-black);
  z-index: 12;
  border-radius: 50%;
  border-color: transparent;
  border-top-color: var(--color-black);
  transform: rotate(24deg);
}
.gumball__eyebrow-1::before,
.gumball__eyebrow-1::after,
.gumball__eyebrow-2::before,
.gumball__eyebrow-2::after {
  width: 12px;
  height: 10px;
  background-color: var(--color-black);
  border-radius: 50%;
}
.gumball__eyebrow-1::before {
  top: -6px;
  left: -4px;
  transform: rotate(-21deg);
}
.gumball__eyebrow-1::after {
  top: -7px;
  right: -3px;
  transform: rotate(11deg);
}
.gumball__eyebrow-2::before {
  top: -6px;
  left: -4px;
  transform: rotate(-21deg);
}
.gumball__eyebrow-2::after {
  top: -6px;
  right: -4px;
  transform: rotate(11deg);
}

.gumball__eyes [class^='gumball__eye-'] {
  position: absolute;
  width: 87px;
  height: 87px;
  border: var(--border-bold);
  border-radius: 50%;
  background-color: var(--color-white);
  z-index: 12;
}
.gumball__eye-1 {
  top: 58px;
  left: 22px;
}
.gumball__eye-2 {
  top: 63px;
  right: 44px;
}
.gumball__eye-1::before,
.gumball__eye-2::before {
  width: 40px;
  height: 40px;
  background-color: var(--color-black);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gumball__whiskers [class^='gumball__whisker-'] {
  position: absolute;
  width: 6px;
  background-color: var(--color-black);
  z-index: 12;
}
.gumball__whisker-1 {
  height: 35px;
  bottom: 15px;
  left: -34px;
  transform: rotate(61deg);
}
.gumball__whisker-2 {
  height: 35px;
  bottom: -18px;
  left: -14px;
  transform: rotate(49deg);
}
.gumball__whisker-3 {
  height: 29px;
  bottom: -23px;
  right: 68px;
  transform: rotate(-36deg);
}
.gumball__whisker-4 {
  height: 29px;
  bottom: -4px;
  right: 40px;
  transform: rotate(-43deg);
}
.gumball__whisker-5 {
  height: 29px;
  bottom: 25px;
  right: 18px;
  transform: rotate(-56deg);
}

.gumball__mouth--top {
  position: absolute;
  width: 46px;
  height: 22px;
  left: 81px;
  bottom: 35px;
  background: var(--gumball-blue-light);
  border: var(--border-semibold);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 6% 4%;
  border-bottom-right-radius: 65% 100%;
  z-index: 14;
  transform: rotate(60deg) skew(28deg, 127deg) scaleY(1.2);
  overflow: hidden;
}
.gumball__mouth--lower {
  position: absolute;
  width: 76px;
  height: 70px;
  left: 70px;
  bottom: -17px;
  border: var(--border-bold);
  border-bottom-left-radius: 70% 100%;
  border-bottom-right-radius: 70% 100%;
  background-color: var(--gumball-pink);
  transform: rotate(4deg);
  overflow: hidden;
  z-index: 12;
}
.gumball__mouth--top::before,
.gumball__mouth--top::after,
.gumball__mouth--lower::before,
.gumball__mouth--lower::after {
  z-index: 12;
}
.gumball__mouth--top::before {
  width: 21px;
  height: 14px;
  left: 5px;
  top: -5px;
  border: var(--border-semibold);
  background-color: var(--gumball-orange);
  border-radius: 50%;
}
.gumball__mouth--top::after {
  width: 2px;
  height: 17px;
  background-color: var(--color-black);
  top: 7px;
  left: 15px;
  transform: rotate(2deg);
}
.gumball__mouth--lower::before {
  width: 20px;
  height: 32px;
  border: var(--border-bold);
  background-color: var(--color-white);
  border-radius: 50%;
  top: -12px;
  right: -6px;
  transform: rotate(-11deg);
}
.gumball__mouth--lower::after {
  width: 50px;
  height: 50px;
  top: 23px;
  right: 0;
  border: var(--border-semibold);
  border-top-left-radius: 100% 88%;
  background-color: var(--gumball-light-pink);
  transform: rotate(10deg);
}

.gumball__neck {
  position: absolute;
  width: 60px;
  height: 15px;
  top: 233px;
  left: 86px;
  border-left: var(--border-bold);
  border-right: var(--border-bold);
  background-color: var(--gumball-blue);
  z-index: 14;
}

.gumball__body {
  position: absolute;
  width: 60px;
  height: 93px;
  top: 248px;
  left: 86px;
  border-left: var(--border-bold);
  border-right: var(--border-bold);
  background-color: var(--gumball-blue);
  z-index: 14;
}

.gumball__shirt {
  height: inherit;
  background-color: var(--gumball-brown-light);
}

.gumball__shirt-collar {
  position: relative;
  width: inherit;
  height: 20px;
  background-color: var(--gumball-brown);
  border-top: var(--border-bold);
  border-bottom: var(--border-bold);
  transform: skewY(-2deg);
  z-index: 16;
}

.gumball__waist {
  position: absolute;
  top: 341px;
  left: 66px;
  width: 100px;
  height: 26px;
  border: var(--border-bold);
  border-bottom-left-radius: 23% 83%;
  border-bottom-right-radius: 23% 83%;
  background-color: var(--color-gray);
  box-shadow: inset 0 -5px 5px rgb(0 0 0 / 40%);
  overflow: hidden;
}

.gumball__flap {
  position: absolute;
  top: -12px;
  left: 46px;
  transform: translateX(-50%);
  width: 40px;
  height: 20px;
  border-radius: 50%;
  border: var(--border-bolder);
  background-color: var(--color-white);
}
.gumball__flap::before,
.gumball__flap::after {
  width: 4px;
  height: 20px;
  background-color: var(--color-black);
  bottom: -20px;
}
.gumball__flap::before {
  left: 2px;
  transform: rotate(27deg);
}
.gumball__flap::after {
  right: 2px;
  transform: rotate(-27deg);
}

.gumball__arm-1,
.gumball__arm-2 {
  position: absolute;
  border: var(--border-bold);
  border-radius: 45% 45% 45% 45% / 10% 10% 10% 10%;
  background-color: var(--gumball-brown-light);
}
.gumball__arm-1--upper {
  top: 229px;
  left: 47px;
  width: 20px;
  height: 83px;
  transform: rotate(50deg);
}
.gumball__arm-2--upper {
  top: 229px;
  right: 86px;
  width: 20px;
  height: 83px;
  transform: rotate(-50deg);
}
.gumball__arm-1-joint {
  position: absolute;
  top: 282px;
  left: 25px;
  width: 20px;
  height: 17px;
  border-radius: 50%;
  background-color: var(--gumball-brown-light);
  z-index: 16;
}
.gumball__arm-2-joint {
  position: absolute;
  top: 280px;
  right: 66px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--gumball-brown-light);
  z-index: 16;
}
.gumball__arm-1--lower {
  top: 283px;
  left: 37px;
  width: 23px;
  height: 48px;
  transform: rotate(-41deg);
}
.gumball__arm-2--lower {
  top: 283px;
  right: 76px;
  width: 23px;
  height: 48px;
  transform: rotate(41deg);
}

.gumball__sleeve-end {
  position: absolute;
  left: -1px;
  width: 21px;
  height: 23px;
  background-color: var(--gumball-brown);
  border: var(--border-bold);
}
.gumball__sleeve-end--1 {
  bottom: -2px;
  transform: skewY(4deg);
}
.gumball__sleeve-end--1::before,
.gumball__sleeve-end--1::after,
.gumball__sleeve-end--2::before,
.gumball__sleeve-end--2::after {
  height: 100%;
  width: 3px;
  background-color: var(--color-black);
}
.gumball__sleeve-end--1::before,
.gumball__sleeve-end--2::before {
  left: 3px;
}
.gumball__sleeve-end--1::after,
.gumball__sleeve-end--2::after {
  right: 3px;
}
.gumball__sleeve-end--2 {
  bottom: -4px;
  transform: skewY(4deg);
}

.gumball__paw-1 .gumball__wrist {
  position: absolute;
  left: 53px;
  top: 320px;
  width: 21px;
  height: 9px;
  border: var(--border-bold);
  transform: rotate(-44deg);
  z-index: 18;
  background-color: var(--gumball-blue);
}
.gumball__paw-1 .gumball__wrist-joint {
  position: absolute;
  top: 320px;
  left: 59px;
  width: 24px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--gumball-blue);
  z-index: 20;
  transform: rotate(-40deg);
}
.gumball__paw-1 .gumball__main-paw {
  position: absolute;
  left: 53px;
  top: 321px;
  width: 40px;
  height: 30px;
  border: var(--border-bold);
  border-radius: 50%;
  background-color: var(--gumball-blue);
  z-index: 16;
  transform: rotate(-35deg);
}
.gumball__paw-1 .gumball__main-paw::before,
.gumball__paw-1 .gumball__main-paw::after {
  width: 3px;
  bottom: 0px;
  background-color: var(--color-black);
}
.gumball__paw-1 .gumball__main-paw::before {
  height: 11px;
  left: 10px;
  transform: rotate(4deg);
}
.gumball__paw-1 .gumball__main-paw::after {
  height: 13px;
  right: 12px;
  transform: rotate(-4deg);
}
.gumball__thumb-1 {
  position: absolute;
  top: 310px;
  left: 73px;
  width: 15px;
  height: 13px;
  border-top-left-radius: 80% 146%;
  border-top-right-radius: 80% 80%;
  border-top: var(--border-bold);
  border-right: var(--border-bold);
  border-left: var(--border-bold);
  background-color: var(--gumball-blue);
  transform: rotate(20deg);
  z-index: 12;
}

.gumball__paw-2 .gumball__wrist {
  position: absolute;
  right: 95px;
  top: 322px;
  width: 21px;
  height: 9px;
  border: var(--border-bold);
  transform: rotate(44deg);
  z-index: 18;
  background-color: var(--gumball-blue);
}
.gumball__paw-2 .gumball__wrist-joint {
  position: absolute;
  top: 323px;
  right: 98px;
  width: 24px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--gumball-blue);
  transform: rotate(59deg);
  z-index: 20;
}
.gumball__paw-2 .gumball__main-paw {
  position: absolute;
  right: 95px;
  top: 321px;
  width: 40px;
  height: 30px;
  border: var(--border-bold);
  border-radius: 50%;
  background-color: var(--gumball-blue);
  z-index: 16;
  transform: rotate(35deg);
}
.gumball__paw-2 .gumball__main-paw::before,
.gumball__paw-2 .gumball__main-paw::after {
  width: 3px;
  bottom: 0px;
  background-color: var(--color-black);
}
.gumball__paw-2 .gumball__main-paw::before {
  height: 11px;
  left: 10px;
  transform: rotate(4deg);
}
.gumball__paw-2 .gumball__main-paw::after {
  height: 13px;
  right: 12px;
  transform: rotate(8deg);
}
.gumball__thumb-2 {
  position: absolute;
  top: 310px;
  right: 113px;
  width: 15px;
  height: 13px;
  border-top-left-radius: 80% 146%;
  border-top-right-radius: 80% 80%;
  border-top: var(--border-bold);
  border-right: var(--border-bold);
  border-left: var(--border-bold);
  background-color: var(--gumball-blue);
  transform: rotate(-27deg);
  z-index: 12;
}

.gumball__leg-1,
.gumball__leg-2 {
  height: 58px;
  width: 26px;
  background-color: var(--color-gray);
  box-shadow: inset 0 8px 3px rgb(0 0 0 / 40%);
  top: 367px;
}
.gumball__leg-1 {
  position: absolute;
  left: 92px;
  border: var(--border-bold);
  transform: skew(6deg, 0deg);
}
.gumball__leg-2 {
  position: absolute;
  right: 126px;
  border: var(--border-bold);
  transform: skewX(6deg);
}
.gumball__leg-1::before,
.gumball__leg-2::before {
  border: var(--border-bold);
  height: 20px;
  bottom: -9px;
  width: inherit;
  background-color: var(--gumball-brown-light);
}
.gumball__leg-1::before {
  left: -3px;
  transform: skewY(2deg);
}
.gumball__leg-2::before {
  right: -3px;
  transform: skewY(-4deg);
}

.gumball__leg-1::after,
.gumball__leg-2::after {
  width: 100%;
  height: 15px;
  border-top-left-radius: 50% 10%;
  border-top-right-radius: 50% 10%;
  top: 6px;
  left: 0;
  background-color: var(--color-gray);
  transform: skewY(-4deg);
}

.gumball__foot-1,
.gumball__foot-2 {
  position: absolute;
  top: 428px;
  border: var(--border-bold);
  background-color: var(--gumball-blue);
  width: 40px;
  height: 24px;
  overflow: hidden;
}
.gumball__foot-1 {
  left: 82px;
  border-top-left-radius: 90% 75%;
  border-bottom-left-radius: 37% 60%;
  border-bottom-right-radius: 30% 50%;
}
.gumball__foot-2 {
  right: 107px;
  border-top-right-radius: 90% 75%;
  border-bottom-right-radius: 37% 60%;
  border-bottom-left-radius: 30% 50%;
}
.gumball__foot-1::before,
.gumball__foot-2::before,
.gumball__foot-1::after,
.gumball__foot-2::after {
  border-top: var(--border-bold);
  border-radius: 50%;
}
.gumball__foot-1::before {
  width: 20px;
  height: 10px;
  left: -4px;
  bottom: -3px;
  transform: rotate(-53deg);
}
.gumball__foot-1::after {
  width: 20px;
  height: 10px;
  left: 9px;
  bottom: -3px;
  transform: rotate(-45deg);
}
.gumball__foot-2::before {
  width: 20px;
  height: 10px;
  right: -4px;
  bottom: -3px;
  transform: rotate(53deg);
}
.gumball__foot-2::after {
  width: 20px;
  height: 10px;
  right: 9px;
  bottom: -3px;
  transform: rotate(45deg);
}
